<app-header></app-header>


    

    
<div class="d-flex align-items-stretch">
    <div id="sidebar" class="sidebar py-3">
      <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN</div>
      <ul class="sidebar-menu list-unstyled">
            <li class="sidebar-list-item"><a routerLink="/accueil" class="sidebar-link text-muted"><i class="o-home-1 mr-3 text-gray"></i><span>Home</span></a></li>
            <li class="sidebar-list-item"><a routerLink="/Profil" class="sidebar-link text-muted"><i class="fas fa-user-alt mr-3 text-gray"></i><span>Profile</span></a></li>
            <li class="sidebar-list-item"><a  data-toggle="collapse" data-target="#pages" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="o-wireframe-1 mr-3 text-gray"></i><span>Posts</span></a>
          <div id="pages" class="collapse">
            <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
              <li class="sidebar-list-item"><a routerLink="/ListPosts"class="sidebar-link text-muted pl-lg-5"> <i class="fab fa-readme mr-3 text-gray"></i>View Posts</a></li>
              <li class="sidebar-list-item"><a routerLink="/Post/add" class="sidebar-link text-muted pl-lg-5"> <i class="fas fa-plus-circle mr-3 text-gray"></i>Add Post</a></li>
             </ul>
          </div>
        </li>
        <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#page" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="o-wireframe-1 mr-3 text-gray"></i><span>Categories</span></a>
          <div id="page" class="collapse">
            <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
              <li class="sidebar-list-item"><a routerLink="/ListCategorie" class="sidebar-link text-muted pl-lg-5"> <i class="fab fa-readme mr-3 text-gray"></i>View Categories</a></li>
              <li class="sidebar-list-item"><a routerLink="/Category/add" class="sidebar-link text-muted pl-lg-5"><i class="fas fa-plus-circle mr-3 text-gray"></i>Add Category</a></li>
             </ul>
          </div>
        </li>
        <li class="sidebar-list-item"><a  routerLink="/Statistical" class="sidebar-link text-muted"> <i class="fas fa-chart-pie mr-3 text-gray"></i><span> Statistical </span></a></li>
            <li class="sidebar-list-item"><a  routerLink="/auth/signin" class="sidebar-link text-muted"> <i class="fas fa-sign-in-alt mr-3 text-gray"></i><span> Log out </span></a></li>
          
    </ul>
       
  </div>
  <div class="page-holder w-100 d-flex flex-wrap">
    <div class="container-fluid px-xl-5">
      <section class="py-5">
        <div class="row">
          <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
            <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
              <div class="flex-grow-1 d-flex align-items-center">
                <div class="dot mr-3 bg-violet"></div>
                <div class="text">
                  <h6 class="mb-0">Data consumed</h6><span class="text-gray">145,14 GB</span>
                </div>
              </div>
              <div class="icon text-white bg-violet"><i class="fas fa-server"></i></div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
            <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
              <div class="flex-grow-1 d-flex align-items-center">
                <div class="dot mr-3 bg-green"></div>
                <div class="text">
                  <h6 class="mb-0">Open cases</h6><span class="text-gray">32</span>
                </div>
              </div>
              <div class="icon text-white bg-green"><i class="far fa-clipboard"></i></div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
            <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
              <div class="flex-grow-1 d-flex align-items-center">
                <div class="dot mr-3 bg-blue"></div>
                <div class="text">
                  <h6 class="mb-0">Work orders</h6><span class="text-gray">400</span>
                </div>
              </div>
              <div class="icon text-white bg-blue"><i class="fa fa-dolly-flatbed"></i></div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
            <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
              <div class="flex-grow-1 d-flex align-items-center">
                <div class="dot mr-3 bg-red"></div>
                <div class="text">
                  <h6 class="mb-0">New invoices</h6><span class="text-gray">123</span>
                </div>
              </div>
              <div class="icon text-white bg-red"><i class="fas fa-receipt"></i></div>
            </div>
          </div>
        </div>
       
      </section>

    </div>





    <!-- Modal view -->
  <div id="ModalView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="exampleModalLabel" class="modal-title">Show Details Post</h4>
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label>Post name</label>
                <input type="text"  class="form-control">
              </div>
              <div class="form-group">       
                <label>Post description</label>
                <input type="text"  class="form-control">
              </div>
             
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!--fin modal  View-->






      <!-- Modal Update -->
  <div id="ModalUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="exampleModalLabel" class="modal-title">Update Post</h4>
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label>Post title</label>
                <input type="text"  class="form-control">
              </div>
              <div class="form-group">       
                <label>Post content </label>
                <input type="text"  class="form-control">
              </div>
              <div class="form-group">
                  <label>Post picture</label>
                  <input type="file"  class="form-control">
                </div>
                <div class="form-group">       
                  <label>Post video </label>
                  <input type="file"  class="form-control">
                </div>
             
            </form>
          </div>
          <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-success">Update</button>
            <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!--fin modal Update-->


 

      <!-- Modal Delete -->
      <div id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
          <div role="document" class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 id="exampleModalLabel" class="modal-title">Delete Post</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
              </div>
              <div class="modal-body">
              <p>Are you ready to delete ?</p>
              </div>
              <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-danger">Delete</button>
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!--fin modal Delete-->


    

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Posts</h4>
            <p class="card-description">
              <a routerLink="/Post/add">
                <i class="fas fa-plus-circle mr-3 text-primary"></i>  
                  Add Post
              </a>
                </p>
                

            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      Title
                    </th>
                    <th>
                      Content
                    </th>
                    <th>
                      Date
                    </th>
                    <th>
                      Picture
                    </th>
                    <th>
                      View
                    </th>
                    <th>
                        Update
                    </th>
                    <th>
                        Delete
                    </th>
                      
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="py-1">
                      <img src="../../images/faces-clipart/pic-1.png" alt="image" />
                    </td>
                    <td>
                      Herman Beck
                    </td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                    <td>
                      $ 77.99
                    </td>
                    <td>
                        <button data-toggle="modal" data-target="#ModalView" type="button" class="btn btn-primary btn-rounded btn-fw">View</button>

                        </td>
                        <td>
                        <button  data-toggle="modal" data-target="#ModalUpdate" type="button" class="btn btn-success btn-rounded btn-fw">Update</button>

                        </td>
                        <td>
                        <button data-toggle="modal" data-target="#ModalDelete" type="button" class="btn btn-danger btn-rounded btn-fw">Delete</button>   

                        </td>
                  </tr>
              
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>







    
    <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 text-center text-md-left text-primary">
            <p class="mb-2 mb-md-0">Your company &copy; 2018-2020</p>
          </div>
          <div class="col-md-6 text-center text-md-right text-gray-400">
            <p class="mb-0">Design by <a href="https://bootstrapious.com/admin-templates" class="external text-gray-400">Bootstrapious</a></p>
            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
          </div>
        </div>
      </div>
    </footer>
   </div>
  
</div>

