<app-header></app-header>


    

    
<div class="d-flex align-items-stretch">
    <div id="sidebar" class="sidebar py-3">
      <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN</div>
      <ul class="sidebar-menu list-unstyled">
            <li class="sidebar-list-item"><a routerLink="/accueil" class="sidebar-link text-muted"><i class="o-home-1 mr-3 text-gray"></i><span>Home</span></a></li>
            <li class="sidebar-list-item"><a routerLink="/Profil" class="sidebar-link text-muted"><i class="fas fa-user-alt mr-3 text-gray"></i><span>Profile</span></a></li>
            <li class="sidebar-list-item"><a  data-toggle="collapse" data-target="#pages" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="o-wireframe-1 mr-3 text-gray"></i><span>Posts</span></a>
          <div id="pages" class="collapse">
            <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
              <li class="sidebar-list-item"><a routerLink="/ListPosts"class="sidebar-link text-muted pl-lg-5"> <i class="fab fa-readme mr-3 text-gray"></i>View Posts</a></li>
              <li class="sidebar-list-item"><a routerLink="/Post/add" class="sidebar-link text-muted pl-lg-5"> <i class="fas fa-plus-circle mr-3 text-gray"></i>Add Post</a></li>
             </ul>
          </div>
        </li>
        <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#page" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="o-wireframe-1 mr-3 text-gray"></i><span>Categories</span></a>
          <div id="page" class="collapse">
            <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
              <li class="sidebar-list-item"><a routerLink="/ListCategorie" class="sidebar-link text-muted pl-lg-5"> <i class="fab fa-readme mr-3 text-gray"></i>View Categories</a></li>
              <li class="sidebar-list-item"><a routerLink="/Category/add" class="sidebar-link text-muted pl-lg-5"><i class="fas fa-plus-circle mr-3 text-gray"></i>Add Category</a></li>
             </ul>
          </div>
        </li>
        <li class="sidebar-list-item"><a  routerLink="/Statistical" class="sidebar-link text-muted"> <i class="fas fa-chart-pie mr-3 text-gray"></i><span> Statistical </span></a></li>
            <li class="sidebar-list-item"><a  routerLink="/auth/signin" class="sidebar-link text-muted"> <i class="fas fa-sign-in-alt mr-3 text-gray"></i><span> Log out </span></a></li>
          
    </ul>
       
  </div>
  <div class="page-holder w-100 d-flex flex-wrap">
    <div class="container-fluid px-xl-5">
      <section class="py-5">
        <div class="row">
          <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
            <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
              <div class="flex-grow-1 d-flex align-items-center">
                <div class="dot mr-3 bg-violet"></div>
                <div class="text">
                  <h6 class="mb-0">Data consumed</h6><span class="text-gray">145,14 GB</span>
                </div>
              </div>
              <div class="icon text-white bg-violet"><i class="fas fa-server"></i></div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
            <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
              <div class="flex-grow-1 d-flex align-items-center">
                <div class="dot mr-3 bg-green"></div>
                <div class="text">
                  <h6 class="mb-0">Open cases</h6><span class="text-gray">32</span>
                </div>
              </div>
              <div class="icon text-white bg-green"><i class="far fa-clipboard"></i></div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
            <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
              <div class="flex-grow-1 d-flex align-items-center">
                <div class="dot mr-3 bg-blue"></div>
                <div class="text">
                  <h6 class="mb-0">Work orders</h6><span class="text-gray">400</span>
                </div>
              </div>
              <div class="icon text-white bg-blue"><i class="fa fa-dolly-flatbed"></i></div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
            <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
              <div class="flex-grow-1 d-flex align-items-center">
                <div class="dot mr-3 bg-red"></div>
                <div class="text">
                  <h6 class="mb-0">New invoices</h6><span class="text-gray">123</span>
                </div>
              </div>
              <div class="icon text-white bg-red"><i class="fas fa-receipt"></i></div>
            </div>
          </div>
        </div>
       
      </section>

    </div>


        <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Posts</h4>
            <p class="card-description">
              <a routerLink="/Post/add">
                <i class="fas fa-plus-circle mr-3 text-primary"></i>  
                  Add Post
              </a>
                </p>
                

            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      Title
                    </th>
                    <th>
                      Content
                    </th>
                    <th>
                      Date
                    </th>
                    <th>
                      Picture/video
                    </th>
                    <th>
                      View
                    </th>
                    <th>
                        Update
                    </th>
                    <th>
                        Delete
                    </th>
                      
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let post of posts | paginate: { id: 'listing_pagination',
                  itemsPerPage: 4,
                  currentPage: page,
                  totalItems: totalRec } ">
                    <td >
                     {{post.titlePost}}
                    </td>
                    <td>
                     {{post.contenuePost}}
                    </td>
                    <td>
                     {{post.datePost}}
                    </td>
                    <td>
                      <div *ngIf="post.photoPost!=null">
                      <img id="div1"  style="display: inline;position: relative;"   src="http://localhost:9999/photoPost/{{post.idPost}}" width="70px" height="30px"><br> <br></div>
                      <video id="div1" style="display: inline;position: relative;"   *ngIf="post.videoPost!=null" controls  id="videoPlayer" width="70px" height="30px">
                        <source src="http://localhost:9999/videoPost/{{post.idPost}}" type="video/mp4" />
                       
                      </video>
                    </td>
                    <td>
                        <button (click)=viewPost(post) type="button" class="btn btn-primary btn-rounded btn-fw">View</button>

                        </td>
                        <td>
                        <button  (click)=updatePost(post)  type="button" class="btn btn-success btn-rounded btn-fw">Update</button>

                        </td>
                        <td>
                        <button (click)=deletePost(post.idPost)  type="button" class="btn btn-danger btn-rounded btn-fw">Delete</button>   

                        </td>
                  </tr>
              
                </tbody>
              </table>
              <div>
                <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event" class="text-md-right"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>







    
    <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 text-center text-md-left text-primary">
            <p class="mb-2 mb-md-0">Your company &copy; 2018-2020</p>
          </div>
          <div class="col-md-6 text-center text-md-right text-gray-400">
            <p class="mb-0">Design by <a href="https://bootstrapious.com/admin-templates" class="external text-gray-400">Bootstrapious</a></p>
            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
          </div>
        </div>
      </div>
    </footer>
   </div>
  
</div>

